div.column-margin {
  font-size: 1.2em; /* Adjust font size */
  color: #000; /* Change text color */
}

div.csl-entry {
  font-size: 0.6em; /* Adjust font size */
  color: #333; /* Change text color */
}
